body {
  background-color: #033860;
  padding: 1%;
}

.pavidu {
  color: #be97c6;
  text-align: center;
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
}

.labais-text {
  color: #be97c6;
  text-align: left;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  float: left;
}

.sliktais-text {
  color: #be97c6;
  font-size: 30px;
  float: right;
  font-family: "Roboto Condensed", sans-serif;
}

.vs {
  color: #be97c6;
  text-align: center;
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
}
